<section>
<header>
    <img class="logo" src="./assets/webapplication logo.png" alt="logo ">
    <nav>
        <ul class="nav__links">
            <li>
                <a href="#">About</a>
                <a href="#">Services</a>
            
            </li>
        </ul>
    </nav>
    <a href="#" class="cta">
        <button class="bttn">CONTACT</button>
    </a>
</header>
<!--
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item">
        <img src="./assets/DEATH OF NILE.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/MAZE RUNNER.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/FULLMETAL ALCHEMIST.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/AVENGERS.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
-->
